@import "../../modules/_base.scss";
/*Homepage Slider*/
.slider{
    .bx-wrapper{
        .bx-prev{
            background-image:url(../img/arrow-left-white.svg);
        }
        .bx-next{
            background-image:url(../img/arrow-right-white.svg);
        }
    }
}
.slider__list{
    @extend .g-clearlist;
}

.slider__item{
    position:relative;
}

.slider__sm,
.slider__xl{
    position:relative;
    background-color:#bbb;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    &:before{
        content:'';
        display:block;
        position:absolute;
        top:0; right:0; bottom:0; left:0;
        background:rgba(#000, .3);
    }
}

.slider__sm{
    &:after{
        content:'';
        display:block;
        padding-top:63%;
    }

    @include media($desktop){
        display:none;
    }
}

.slider__xl{
    @include px2rem(height, 594px);
    display:none;

    @include media($desktop){
        display:block;
    }
}

.slider__content{
    position:absolute;
    top:0; left:0; right:0; bottom:0;

}

.slider__table{
    @extend .g-as-table;
    box-sizing:border-box;

    @include media($desktop){
        @include px2rem(padding-top, 108px); //desktop header height
    }
}
.slider__cell{
    @extend .g-as-cell;
}

.slider__title{
    display:block;
    @include px2rem(margin-bottom, 10px);
    font-family:$font-serif-bold;
    color:#fff;
    @include font-size(16px);
    text-transform:uppercase;

    @include media($tablet){
        @include font-size(24px);
        line-height:1.5;
    }
    @include media($desktop){
        @include font-size(36px);
    }
}
.slider__text{
    @include px2rem(margin, 10px 0);
    font-family:$font-sans-bold;
    @include font-size(12px);
    color:#fff;
    text-transform:uppercase;

    @include media($tablet){
        @include font-size(14px);
        @include px2rem(margin, 30px 0);
    }
}

.slider__btn{
    @extend .g-btn;
    @include px2rem(height, 38px);
    @include px2rem(line-height, 36px);
    margin:0;
    border-color:#757575;
    color:#757575;

    @include media($tablet){
         @include px2rem(height, 54px);
         @include px2rem(line-height, 52px);
    }
}
