/*font Circe Light*/
@font-face {
  font-family: 'Circe-Light';
  src: url('../fonts/circe/Circe-Light.eot');
  src: url('../fonts/circe/Circe-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/circe/Circe-Light.woff') format('woff'),
       url('../fonts/circe/Circe-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*font Circe Regular*/
@font-face {
  font-family: 'Circe-Regular';
  src: url('../fonts/circe/Circe-Regular.eot');
  src: url('../fonts/circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/circe/Circe-Regular.woff') format('woff'),
       url('../fonts/circe/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*font Circe Bold*/
@font-face {
  font-family: 'Circe-Bold';
  src: url('../fonts/circe/Circe-Bold.eot');
  src: url('../fonts/circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/circe/Circe-Bold.woff') format('woff'),
       url('../fonts/circe/Circe-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





/*font Lora Italic*/
@font-face {
  font-family: 'Lora-Italic';
  src: url('../fonts/lora/Lora-Italic.eot');
  src: url('../fonts/lora/Lora-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lora/Lora-Italic.woff') format('woff'),
       url('../fonts/lora/Lora-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





/*font Lora Bold Italic*/
@font-face {
  font-family: 'Lora-BoldItalic';
  src: url('../fonts/lora/Lora-BoldItalic.eot');
  src: url('../fonts/lora/Lora-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lora/Lora-BoldItalic.woff') format('woff'),
       url('../fonts/lora/Lora-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


