/*font Circe Light*/
@font-face {
	font-family:'Circe-Light';
	src: url('../fonts/circe/Circe-Light_directwrite.eot');
	src: url('../fonts/circe/Circe-Light_directwrite.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circe/Circe-Light_directwrite.woff') format('woff'),
		url('../fonts/circe/Circe-Light_directwrite.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}
/*font Circe Regular*/
@font-face {
	font-family:'Circe-Regular';
	src: url('../fonts/circe/Circe-Regular_directwrite.eot');
	src: url('../fonts/circe/Circe-Regular_directwrite.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circe/Circe-Regular_directwrite.woff') format('woff'),
		url('../fonts/circe/Circe-Regular_directwrite.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

/*font Circe Bold*/
@font-face {
	font-family:'Circe-Bold';
	src: url('../fonts/circe/Circe-Bold_directwrite.eot');
	src: url('../fonts/circe/Circe-Bold_directwrite.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circe/Circe-Bold_directwrite.woff') format('woff'),
		url('../fonts/circe/Circe-Bold_directwrite.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}


/*font Lora Italic*/
/*@font-face {
	font-family:'Lora-Italic';
	src: url('../fonts/lora/Lora-Italic_directwrite.eot');
	src: url('../fonts/lora/Lora-Italic_directwrite.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lora/Lora-Italic_directwrite.woff') format('woff'),
		url('../fonts/lora/Lora-Italic_directwrite.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-F6CE;
}*/

@font-face {
    font-family: 'Lora-Italic';
    src: url('../fonts/lora_/loraitalic.woff2') format('woff2'), url('../fonts/lora_loraitalic.woff') format('woff'), url('../fonts/lora_loraitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/*font Lora Bold Italic*/
/*@font-face {
	font-family:'Lora-BoldItalic';
	src: url('../fonts/lora/Lora-BoldItalic_directwrite.eot');
	src: url('../fonts/lora/Lora-BoldItalic_directwrite.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lora/Lora-BoldItalic_directwrite.woff') format('woff'),
		url('../fonts/lora/Lora-BoldItalic_directwrite.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-F6CE;
}*/
@font-face {
    font-family: 'Lora-BoldItalic';
    src: url('../fonts/lora_/lorabolditalic.woff2') format('woff2'), url('../fonts/lora_/lorabolditalic.woff') format('woff'), url('../fonts/lora_/lorabolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}